.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#video {
  position: fixed;
  width: 1920px;
  height: 1080px;
  transform: scale(0.54);
  top: -220px;
  left: -390px;
}

#foreground {
  position: fixed;
}

#capture-button {
  position: fixed;
  left: 221px;
  top: 370px;
}

#beam-background {
  position: fixed;
  width: 460px;
  height: 16px;
  background-color: black;
  border-radius: 13px;
  left: 260px;
  top: 433px;
  border: solid black 5px;
}

#beam-text {
  position: fixed;
  color: white;
  font-family: 'Slider';
  font-size: 35px;
  left: 69px;
  top: 425px;
}

#beam-loading {
  position: fixed;
  width: 310px;
  height: 16px;
  background-color: white;
  border-radius: 13px;
  left: 260px;
  top: 433px;
  border: solid black 5px;
}

#beam-background,
#beam-text,
#beam-loading {
  display: inline;
}

#flash {
  width: 800px;
  height: 480px;
  background-color: white;
  position: fixed;
  opacity: 1;
  animation: fade-in 0.4s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#end-text {
  font-family: 'Exo2';
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  width: 550px;
  position: fixed;
  top: 31px;
  left: 130px;
  color: white;
}

#photo {
  width: 300px;
  position: fixed;
  left: 255px;
  top: 121px;
}

#next-button {
  position: fixed;
  left: 266px;
  top: 370px;
}

#countdown-text {
  position: fixed;
  font-family: 'Exo2';
  font-weight: 900;
  color: white;
  font-size: 170px;
  left: 334px;
  top: 110px;
  -webkit-text-stroke: 5px black;
}

#rectangle {
  position: fixed;
}
