.App {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-color: #f05e37;
  overflow: hidden;
}

#main-image-container {
  width: 1182px;
  height: 844px;
  position: fixed;
  left: 369px;
  top: 21px;
}

#main-image {
  width: 1036px;
  height: 582px;
  position: fixed;
  left: 423px;
  top: 111px;
  border-radius: 20px;
}

.thumbnail-active {
  width: 305px;
  height: 180px;
  background-color: white;
  border-radius: 26px;
}

#thumbnail-container {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 24px;
  right: 25px;
}

.thumbnail {
  width: 274px;
  height: 153px;
  margin: 15px;
  border-radius: 40px;
}

#effect-layer {
  width: 1036px;
  height: 582px;
  position: fixed;
  left: 423px;
  top: 111px;
}

#overlay-layer {
  /* animation-name: fadein-next;
  animation-duration: 6s;
  animation-iteration-count: infinite;*/
  opacity: 0;
  width: 1036px;
  height: 582px;
}
/* 
@keyframes fadein-first {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein-next {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

#beam-left {
  width: 230px;
  height: 530px;
  left: 590px;
  position: fixed;
}

#beam-left-mid {
  width: 270px;
  height: 575px;
  left: 710px;
  position: fixed;
}

#beam-right-mid {
  width: 270px;
  height: 575px;
  left: 860px;
  position: fixed;
}

#beam-right {
  width: 230px;
  height: 530px;
  left: 1000px;
  position: fixed;
}

#beam-back {
  width: 230px;
  height: 530px;
  left: 800px;
  position: fixed;
}

#arrow-keys {
  position: fixed;
  left: 598px;
  top: 740px;
  animation: 'swell' 3s infinite;
}

@keyframes swell {
  0% {
    width: 725px;
    left: 598px;
  }
  50% {
    width: 670px;
    left: 620px;
  }
  100% {
    width: 725px;
    left: 598px;
  }
}
